* {
    box-sizing: border-box;
}

html {
    @include html;
}

body {
    @include body;}

/*H1, H2, H3, H4, H5*/
h1 {
    @extend %tipografia;
        text-align: justify;
        
    }

h2 {
    @extend %tipografia;
        
    }

h3 {
    @extend %tipografia;
        
    }

h4 {
    @extend %tipografia;
        
    }
h5 {
    @extend %tipografia;

}    
/*FOOTER*/
/*VISTA DESKTOP*/
@media only screen and (max-width: 1440px) {
    #footer {
        background-color: #0c0c0c;
        color: rgb(238, 238, 238);
        $align: center;
        height: 3.5em;
        border-top: 2px solid rgba(0, 0, 0, 0.24);
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        font-size: 1em;
        padding: auto;
    }
}

/**/
/*VISTA TABLET*/
@media only screen and (min-width: 768) and (max-width: 1023px) {
    #footer {
        $color-black: #0c0c0c;
        $color: rgb(238, 238, 238);
        $align: center;
        height: 3.5em;
        border-top: 2px solid rgba(0, 0, 0, 0.24);
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        font-size: 0, 8em;
    }
}

/**/
/*VISTA MOBILE*/
@media only screen and (max-width: 767px) {
    #footer {
        background-color: rgb(19, 7, 7);
        color: rgb(238, 238, 238);
        $align: center;
        height: 3.5em;
        border-top: 1px solid rgba(0, 0, 0, 0.24);
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        font-size: 0, 8em;
    }
}
