$primary :rgb(76,11,187);
$secundary:rgb(12,204,70);
$success:rgb(40,192,40);
$danger: #000;
$dark_opacity:rgba($dark, 1);
$fony-size: 1,50rem;

$pallete: (
    'primary':rgb(76, 11, 187),
    'secondary':rgb(12, 204, 70),
    'success':rgb(40, 192, 40),
    'danger':#000,
    'blue':rgb(21,8,212),
);


 %tipografia {
     background-color: white;
     font-family: "Open Sans",
         sans-serif;
     font-family: "PT Sans",
         sans-serif;
     font-family: "Smooch Sans",
         sans-serif;
     font-size: 1.5em
 }